.s1{
    background-image: url(./Frame\ \(12\).png);
}
.peanut{
    background-image: url(./Frame\ \(14\).png);
    background-repeat: no-repeat;
}
.peanut2{
    background-image: url(./Frame\ \(18\).png);
    background-repeat: no-repeat;
}